@charset "UTF-8";
/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #eff1f6;
}

p {
	text-align: justify; 
	text-indent: 50px;
}

#navegacao {
	background: #ffffff;
	border-bottom: 0px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}

#area {
	width: 750px;
	margin: 0 auto;
}

#area-principal {
	width: 750px;
	margin: 55px auto 10px auto;
	border: none;	
}

#logo {
	float: left;
	padding: 5px;
}

#menu {
	float: right;
	padding: 10px;
}

#postagem {
	background: #ffffff;
	padding: 10px;
	margin-bottom: 10px;
}

h2 {
	color:#042397;
}
/*Formatação do menu*/

a {
	text-decoration: none; 
	padding: 5px 10px;
	-webkit-transition:background-color 1s;
    -moz-transition:background-color 1s;
    -o-transition:background-color 1s;
    transition:background-color 1s;
}

/*Links não visitados*/

a:link {
	color: #838383;
}

/*Links visitados*/
a:visited {
	color: #838383;
}

/*Links hover*/

a:hover {
	background-color: #363636;
	color: #ffffff;
	font-weight: bold;
}

/*Links ativos*/
a:active {
	color: #535353;
}

/*Classes*/

.azul {
	color: #042397;
}

.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem {
	float: left;
	margin: 10px 5px 0;
}

.postado {
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
	font-size: 14px;
}